.DS_Store
.RData
.Rhistory
.Rproj.user/
*.Rproj
*.html

config/local_resources.sh
metadata/fastq_manifest.tsv
metadata/fastq_files.list
metadata/.metadata_reviewed
references/original/*
references/combined/.references_validated
references/combined/.references_sequence_validated_only

fastq/raw/*
fastq/filtered/*
qc/raw/*
qc/filtered/*
logs/*
databases/custom_emu/*
databases/broad_emu/*
results/custom_emu/
results/broad_emu/
results/runs/
results/figures/
results/minimap2/*
!results/minimap2/2PJGZM_16_sample_16/
results/minimap2/2PJGZM_16_sample_16/*
!results/minimap2/2PJGZM_16_sample_16/2PJGZM_16_sample_16.per_read_assignments.tsv

*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.sam
*.bam
*.bai
*.paf
*.mmi

!fastq/raw/.gitkeep
!fastq/filtered/.gitkeep
!qc/raw/.gitkeep
!qc/filtered/.gitkeep
!logs/.gitkeep
!databases/custom_emu/.gitkeep
!databases/broad_emu/.gitkeep
!references/original/.gitkeep
